#countdown-timer {
  margin-top: 3em;
  margin-bottom: 3em;
}
 
.time-period {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.time-period .amount {
  font-size: 300%;
  padding: 15px;
  border-radius: 4px;
  background: #ccc;
}

.time-period .period {
  display: block;
  color: #7B7D7D;
  padding-top: 15px;
  text-transform: uppercase;
}
